/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'reset.scss';

 html, body {
   height: 100%;
   width: 100%;
   background-color: black;
   overflow: hidden;
 }

 #root {
   width: 100%;
   height: 100%;
 }

 .background {
   height: 100%;
   width: 100%;
   background-image: url('http://res.cloudinary.com/genus-development/image/upload/v1505768873/bg_lknrtm.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.city-points {
   position: fixed;
   height: 100%;
   width: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   top: 0;
   left: 0;
   z-index: 1;
}

 .opacity-layer {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
 }

 .content {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-around;
 }

 .top, .middle-1, .middle-2, .middle-3, .bottom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .top {
   width: 100%;
   height: 40%;
 }

 .middle-1 {
   width: 100%;
   height: 10%;
 }

 .middle-2 {
   width: 200px;
   height: 10%;
   align-self: center;
   z-index: 2;
 }

 .middle-3 {
   width: 100%;
   height: 5%;
 }

 .bottom {
   width: 100%;
   height: 35%;
 }

 .logo {
   object-fit: contain;
   width: 70px;
   height: 50px;
   opacity: 0.8;
 }

 .header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 200;
   font-size: 36px;
   color: white;
   z-index: 999;
 }

 .about-container {
   z-index: 2;
 }

 .sub-header, .email-form, .bottom {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   color: white;
 }

 .sub-header {
   font-size: 25px;
   width: 30%;
   align-self: center;
   text-align: center;
 }

 .email-form {
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .bottom {
   width: 30%;
   align-self: center;
   text-align: center;
   font-size: 40px;
 }

 .hidden-button {
   height: 43px;
   width: 43px;
   visibility: hidden;
 }

 .button {
   height: 43px;
   width: 43px;
   visibility: visible;
 }

 .email-input-1 {
   margin-left: 40px;
   width: 200px;
   height: 20px;
   padding: 10px;
   color: white;
   background: rgba(255, 255, 255, 0.4);
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   font-size: 20px;
   text-align: center;
   border: none;
 }

 .email-input-2 {
   margin-left: 147px;
   width: 200px;
   height: 20px;
   padding: 10px;
   color: white;
   background: rgba(255, 255, 255, 0.4);
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   font-size: 20px;
   text-align: center;
   border: none;
 }

 .email-input-3 {
   margin-left: 147px;
   width: 200px;
   height: 20px;
   padding: 10px;
   color: lightgray;
   background: rgba(128, 128, 128, 0.7);
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   font-size: 20px;
   text-align: center;
   border: none;
 }

 /*email-input needs 107 margin left additional after button is clicked*/

 ::-webkit-input-placeholder {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   color: white;
   text-align: center;
 }

 [placeholder]:focus::-webkit-input-placeholder {
   transition: opacity 0.5s 0.5s ease;
   opacity: 0;
 }

 .submit-icon-1 {
   height: 43px;
   width: 43px;
   cursor: pointer;
 }

 .submit-icon-2 {
   height: 30px;
   width: 30px;
   align-self: flex-end;
   cursor: pointer;
 }

 .role-options {
   margin-left: 10px;
   margin-top: 5px;
 }

 .r-o-1, .r-o-2, .r-o-3 {
   margin-right: 10px;
 }

 .selection-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   width: 150px;
   height: 100px;
   margin-top: 56px;
   background-color: black;
   visibility: visible;
 }

 .hidden-selection-form {
   width: 150px;
   height: 100px;
   visibility: hidden;
 }

 .about-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 11;
 }

 .about-header {
   // margin-top: 63px;
   // font-family: 'Source Sans Pro', sans-serif;
   // font-weight: 200;
   // font-size: 36px;
   // color: rgba(255, 255, 255, 0.4);
   // background-color: black;
   // box-shadow: 0 0 15px 10px black;
   // text-align: center;
   height: 29%;
 }

 .about-body {
   margin-top: 5%;
   width: 35%;
   text-align: justify;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 200;
   font-size: 14px;
   color: rgba(255, 255, 255, 0.7);
 }

 // About buttons
 .about-button {
   transition: all .2s ease-in-out;
      align-self: center;
   &:hover {
      transform: scale(1.2, 1.2);
      cursor: pointer;
   }
 }
 .about-open-button {
   width: 50px;
   height: 30px;
 }
 .about-close-button {
   width: 50px;
   height: 30px;
   margin-bottom: 20px;
   display: none;
 }

 .errors {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   font-size: 14px;
   color: white;
   text-align: center;
 }


// Media Queries

 @media screen and (max-width: 800px) {
   .about-body {
      width: 75%;
   }
 }

  @media screen and (max-width: 500px) {
   body {
      overflow: auto;
      .about-body {
         width: 95%;
      }
   }
 }


// Get rid of d3 on smaller screen sizes

  @media screen and (max-width: 1050px) {
   .city-points {
      display: none;
   }
 }


// For extremely tiny screen sizes
  @media screen and (max-height: 500px) and (max-width: 500px){
   body {
      overflow: auto;
      .background {
         .opacity-layer {
            .content {
               .top {
                  .header {
                     font-size: 12px;
                  }
               }
               .middle-1 {
                  .sub-header {
                     font-size: 12px;
                  }
               }
               .middle-2 {
                  font-size: 12px;
               }
               .bottom {
                  font-size: 12px;
               }
            }
         }
      }
      div {
         display: block;
      }
   }
 }

 @media screen and (max-height: 650px) {
   body {
      .about-header {
         height: 175px;
      }
   }
 }
