@media screen and (max-width: 800px) {
  .about-body {
     width: 75%;
  }
}

 @media screen and (max-width: 500px) {
  body {
     overflow: auto;
     .about-body {
        width: 95%;
     }
  }
}

// Get rid of d3 on smaller screen sizes
 @media screen and (max-width: 1050px) {
  .city-points {
     display: none;
  }
}

// For extremely tiny screen sizes
 @media screen and (max-height: 500px) and (max-width: 500px){
  body {
     overflow: auto;
     .background {
        .opacity-layer {
           .content {
              .top {
                 .header {
                    font-size: 12px;
                 }
              }
              .middle-1 {
                 .sub-header {
                    font-size: 12px;
                 }
              }
              .middle-2 {
                 font-size: 12px;
              }
              .bottom {
                 font-size: 12px;
              }
           }
        }
     }
     div {
        display: block;
     }
  }
}

@media screen and (max-height: 650px) {
  body {
     .about-header {
        height: 175px;
     }
  }
}
