<!DOCTYPE html>
<html>
  <head>
    <title>Genus Development Partners</title>
    <link rel="icon" href="https://res.cloudinary.com/genus-development/image/upload/v1505418566/logo_zayypn.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
