<!DOCTYPE html>
<html>
  <head>
    <title>Genus Development Partners</title>
    <meta property="og:image" content="http://res.cloudinary.com/genus-development/image/upload/v1508352090/link-preview.png"/>
    <meta property="og:title" content="Genus Development Partners"/>
    <meta property="og:description" content="Genus Development is an integrated real estate investment, design and development company headquartered in New York City that focuses on innovative and synergistic multi-use projects in central areas of large multi-cultural cities throughout the Americas."/>
    <meta property="og:url" content="http://www.erictayloradams.com"/>
    <link rel="icon" href="http://res.cloudinary.com/genus-development/image/upload/v1507071593/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
